@model BlogMichel.Web.Models.Blog.ListarPostsViewModel
@{
    ViewBag.Title = "Post";
    var tipoPesquisa = "";
    if (Model.Tag != null)
    {
        tipoPesquisa = string.Format(" - Tag: {0}", Model.Tag);
    }
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}

<h1>Posts @tipoPesquisa</h1>
<div class="row">
    <div class="col-md-10">
     @foreach (var item in Model.Posts)  { <h2>@Html.ActionLink(item.Titulo, "Post", "Blog", new
   { id = item.Id,
       ano = item.DataPublicacao.Year,
       mes = item.DataPublicacao.Month,
       dia = item.DataPublicacao.Day,
       titulo = HttpUtility.UrlDecode(item.Titulo)
   }, null) </h2> 
    <div>
        <div class="icone-calendario div-imagem"></div>
        @item.DataPublicacao.ToString("dd/MM/yyyy HH:mm")
        <div class="icone-autor div-imagem"></div>
        @item.Autor
        <div class="icone-comentario div-imagem"></div>
        <a href="@Url.Action("Post", "Blog", new
            {
                id = item.Id,
                ano = item.DataPublicacao.Year,
                mes = item.DataPublicacao.Month,
                dia = item.DataPublicacao.Day,
                titulo = item.Titulo,
            })#comentarios">@item.QtdeComentarios</a>
        <div class="icone-editar div-imagem"></div>
        @Html.ActionLink("Editar","EditarPost", "Administracao", new { id = item.Id }, null)
        <div class="icone-excluir div-imagem"></div>
        @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = item.Id }, new { @class = "excluir-post" })
    </div>
    <div>
        @item.Resumo
    </div>
    @Html.ActionLink("Continue lendo...", "Post", "Blog", new
{
    id = item.Id,
    ano = item.DataPublicacao.Year,
    mes = item.DataPublicacao.Month,
    dia = item.DataPublicacao.Day,
    titulo = HttpUtility.UrlDecode(item.Titulo)
}, null)
     }
  </div>
<div class="col-md-2">
<h3>Tags</h3>
<ul>
@foreach (var item in Model.Tags)
{
    <li>@Html.ActionLink(item, "Index", "Blog", new { tag = item }, null)</li>
}
 </ul>
</div>
</div>
 
    @Html.Partial("_Paginacao", Model)


