@model BlogMichel.Web.Models.Blog.DetalhesPostViewModel
@{
    ViewBag.Title = "Post";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}
<h2>@Model.Titulo</h2>
<div class="cabecalho-post">
    <div class="icone-calendario div-imagem"></div>
    @Model.DataPublicacao.ToString("dd/MM/yyyy HH:mm")
    <div class="icone-autor div-imagem"></div>
    @Model.Autor
    <div class="icone-comentario div-imagem"></div>
    @Html.ActionLink(Model.QtdeComentarios.ToString(), "")
    <div class="icone-excluir div-imagem"></div>
    @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = Model.Id }, new { @class = "excluir-post" })
</div>
<div class="descricao-post">
    @Model.Descricao
</div>
<div class="tags-post">
    <h3>Tags</h3>
    @if (Model.Tags != null)
    {
        foreach (var item in Model.Tags)
        {
        <li>
           @Html.ActionLink(item.Tag, "Index", "Blog", new { tag = item.Tag }, null)
        </li>
        }
    }
</div>
<div>
    <h3>Novo comentário</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioNome)
            @Html.TextBoxFor(m => m.ComentarioNome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioNome)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioEmail)
            @Html.TextBoxFor(m => m.ComentarioEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioPaginaWeb)
            @Html.TextBoxFor(m => m.ComentarioPaginaWeb, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioPaginaWeb)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioDescricao)
            @Html.TextBoxFor(m => m.ComentarioDescricao, new { rows = 8, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioDescricao)
        </div>
        <p>
            <input type="submit" value="Salvar" class="btn btn-primary"
        </p>
    }
    <div id="comentarios">
        <h3>Comentários</h3>
        @{
            var contador = 0;
        }
        @foreach (var item in Model.Comentarios)
        {
            contador++;
            string id = "comentario" + contador.ToString();
            string cssClass = "text-info";
            if (item.AdmPost)
            {
                cssClass = "label label-info";
            }
            <div>
                <a id="@item.Id"></a>
                <p>
                    <span class="@cssClass">@item.Nome</span><br />
                    <small>
                        @item.DataHora.ToString("dd/MM/yyyy HH:mm:ss")
                        @if (!string.IsNullOrEmpty(item.PaginaWeb))
                        {
                            <text>|</text>
                            <a href="@item.PaginaWeb">@item.PaginaWeb</a>
                        }
                        @if (this.Request.IsAuthenticated)
                        {
                            <text>|</text>
                            @Html.ActionLink("Remover", "ExcluirComentario", "Administracao", new { id = item.Id }, new { @class = "excluir-comentario" })
                        }
                    </small>
                </p>
                @Html.Raw(Html.Encode(item.Descriçao).Replace("\n", "<br />"))
            </div>

            if (contador < this.Model.Comentarios.Count)
            {
                <hr />
            }
        }
    </div>






